img{
    height: 300px;
}
a{
    text-decoration: none;
    color: inherit;
    
}
a:hover{
    color: blue;
}

.main{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

}